body {
    font-family: Book Antiqua;
    
}

div {
    border-radius: 5px;
}

#header {
    background-color: #ced7ee;
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-top: -20px;
    margin-bottom: -20px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 10px;

}
.Break {
    padding-top: 0px;
    margin-top: -16px;
}
#footer {
    
    height: 40px;
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}
.right {
    background-color: white;
    float: right;
    width: 88%;
    height: 2000px;
    margin-top: 130px;
}
.left {
    background-color: #82CCA7;
    float: left;
    width: 10%;
    height: 2000px;
    margin-top: 130px;
}
h4 {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-style: italic;
}
.skills {
    font-weight: bold;
}
#name {
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: center;
}
#email {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
#email a:link {
    text-decoration: none;
}
.foot {
    text-align: center;
}
.foot a:link {
    text-decoration: none;
    color: black;
}